/**************************************** CONFIGURACION GLOBAL ********************************************/
html
{
    box-sizing: border-box;
    font-size: 62.5%; /*Reset para REMS - 62.5% = 10px de 16px*/
}
*,*:before,:after
{
    box-sizing: inherit;
}
body
{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
img{
    max-width: 100%;
}
h1
{
   font-size: 3.8rem;
}
h2
{
    font-size: 3.4rem;
}
h3
{
    font-size: 3rem;
}
h4
{
    font-size: 2.6rem;
}
iframe{
    max-width: 95%;
}
/********************************************** HERRAMIENTAS ****************************************/
.contenedor{
    width: 120rem;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    width: 25rem;
}
.fw-300{
    font-weight: 300;
}
.text-center{
    text-align: center;
}
.seccion{
    margin: 2rem 0;
}
.uppercase{
    text-transform: uppercase;
}
/**************************************** HEADER ******************************************/
.site-header{

    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}
@media (min-width: 768px){
    .site-header{
            /* background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); */
            /* background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); */
            background-image: linear-gradient(to right, #000428, #004e92);
            height: unset;
            min-height: unset;
    }
}
.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    padding: 3rem 0;
}
@media (min-width: 768px){
    .contenido-header{
    flex-direction: row;
    align-items: center;
    height: unset;
    padding: unset;
    }

    .contenido-header p{
        margin-top: 0;
        margin-bottom: 0;
    }
}
.contenido-header h1{
    color: #ffffff;
    margin: 0;
    line-height: 1.5;

}
.contenido-header .iniciosesion{
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
}
@media (min-width: 768px){
    .contenido-header .iniciosesion{
        margin-left: 1.5rem;
    }
}
.iniciosesion img{
    width: 5rem;
}
/***********************************************8 BARRA DE NAVEGACION ***********************************************/
.contenedor-barra{
    width: 120rem;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px){
    .contenedor-barra{
        width: unset;
        max-width: unset;
        margin-left: unset;
        margin-right: unset;
    }
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
@media (min-width: 768px){
    .navegacion-principal{
        display: flex;
        flex-direction: row;
    }
}
.navegacion-principal p{
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem;
    margin: 1rem;
}
@media (min-width: 768px){
    .navegacion-principal p{
        display: none;
    }
}
.navegacion-principal a {
    font-size: 2rem;
    font-weight: 600;
    color: #2187c9;
    background-color: #ffffff;
    text-decoration: none;
    padding: 1rem;
    transition: background .5s ease-in-out;
}
@media (min-width: 768px){
    .navegacion-principal a{
        color: #333333;
        width: 100%;
    }
}
.navegacion-principal a:hover{
    color:#ffffff;
    background-color: #2187c9;
}
/********************************************************* CONTENIDO PRINCIPAL *****************************************************/
.background-inicio{
    background-color: #ffffff;
}
@media (min-width: 768px){
    .background-inicio{
        background-image: url(../img/contenido.jpg);
        background-position: center center;
        background-size: cover;
        width: 100%;
    }
}
.seccion-principal{
    text-align: center;
}
@media (min-width: 768px){
    .seccion-principal{
        display: flex;
        justify-content: space-between;
    }
    .contenido-home{
        flex: 0 0 calc(70% - 1rem);
    }
    .contenido-home h2{
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.7);
        margin: 1rem;
        border-radius: .5rem;
    }
}
.articulos{
    border-bottom: 2px solid rgb(175, 175, 175);
    padding-bottom: 3rem;
}
@media (min-width: 768px){
    .articulos{
        background-color: rgba(0, 0, 0, 0.7);
        margin: 1rem;
        padding-top: 1rem;
        border-radius: .5rem;
        border: none;
    }
}
.articulos:last-of-type{
    border-bottom: none;
}
.articulos h3{
    color: #2187c9;
    font-weight: 500;
}
@media (min-width: 768px){
    .articulos h3{
        color: #ffffff;
        margin: 1rem;
    }
}
.categorias h3 {
    margin: 1rem;
}
.categorias a {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    color: #2187c9;
    background-color: #ffffff;
    text-decoration: none;
    padding: 1rem;
    transition: background .5s ease-in-out;
}
@media (min-width: 768px){
    .categorias{
        flex: 0 0 calc(30% - 1rem);
    }
    .categorias h3 {
    color: #ffffff;
    font-size: 3.4rem;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 1rem;
    padding: 0 1rem;
    border-radius: .5rem;
}
    .categorias nav{
        background-color: rgba(0, 0, 0, 0.7);
        margin: 1rem;
        border-radius: 0.5rem;
    }
    .categorias a{
        color: #ffffff;
        background-color: unset;
    }
}
.categorias a:hover{
    color:#ffffff;
    background-color: #2187c9;
}